.poppins-700 {
  font-family: var(--heading-font);
  font-weight: 700;
}

.poppins-500 {
  font-family: var(--heading-font);
  font-weight: 500;
}

.inter-500 {
  font-family: var(--text-font);
  font-weight: 500;
}

.inter-400 {
  font-family: var(--text-font);
  font-weight: 400;
}

.resume-cont {
  --resume-padding: 40px;
  --resume-gap: 28px;
  display: flex;
  flex-direction: column;
  gap: var(--resume-gap);
  padding: var(--resume-padding);
  background-color: var(--card-bg);
}

.resume-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--accent-color);
  margin-top: calc(var(--resume-padding) * -1);
  margin-right: calc(var(--resume-padding) * -1);
  margin-left: calc(var(--resume-padding) * -1);
  padding: var(--resume-padding);
  color: var(--txt-light);
}

.resume-header .main-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -5px;
}

.resume-header .main-info p {
  font-size: 24px;
}

.resume-header .contact-info {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.resume-header .contact-info > * {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact-info svg {
  flex-shrink: 0;
}

.resume-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.resume-section .section-heading {
  padding: var(--btn-padding);
  border-radius: var(--card-radious);
  background-color: var(--bg-color);
}

.resume-cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.resume-card {
  display: flex;
  align-items: baseline;
  gap: var(--resume-gap);
  flex-wrap: wrap;
}

.resume-card .group-one,
.resume-card .group-two {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: var(--text-font);
}

.resume-card .group-one {
  font-size: 14px;
}

.resume-card .group-two {
  gap: 4px;
}

.resume-card .date {
  display: flex;
  align-items: baseline;
  gap: 4px;
}
