:root {
  --bg-color: rgba(243, 244, 246);
  --card-bg: rgba(255, 255, 255);
  --card-radious: 0.5rem;
  --accent-color: rgba(0, 80, 80);
  --border-color: hsl(0deg 0% 60%);
  --txt-light: rgba(255, 255, 255);

  --btn-padding: 4px 16px;
  --section-padding: 1.25rem;
  --items-gap: 12px;

  --heading-font: "Poppins", sans-serif;
  --text-font: "Inter", sans-serif;
}

#root {
  display: flex;
  gap: var(--section-padding);
  flex-wrap: wrap;
  background-color: var(--bg-color);
  padding: var(--section-padding);
}

.sidebar {
  flex: 1;
}

.resume-cont {
  flex: 4;
}

h1,
h2 {
  font-family: var(--heading-font);
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

p, label {
  font-family: var(--text-font);
}

button {
  font-family: var(--heading-font);
}