.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: var(--items-gap);
  background-color: var(--card-bg);
  border-radius: var(--card-radious);
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--items-gap);
}

input,
textarea {
  padding: var(--btn-padding);
  border-radius: var(--card-radious);
  border: none;
  background-color: var(--bg-color);
}

label {
  font-weight: 700;
}

.label-input-group {
  display: flex;
  flex-direction: column;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  --btn-width: 5.375rem;
}

.form-actions button {
  padding: var(--btn-padding);
  border-radius: var(--card-radious);
  background-color: transparent;
  border: 1px solid var(--border-color);
  width: var(--btn-width);
  font-weight: 600;
  font-size: 14px;
}

.form-actions .submit-btn {
  background-color: var(--accent-color);
  color: var(--card-bg);
  border: none;
  width: calc(var(--btn-width) + 2px);
}

.form-actions .cancel-btn {
  color: hsl(0, 0%, 40%);
}

.form-section .min-cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--items-gap);
}

.form-section .min-card {
  display: flex;
  justify-content: space-between;
  gap: var(--items-gap);

  padding: var(--btn-padding);
  border-radius: var(--card-radious);
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.min-card-title {
  font-weight: 700;
}

.min-card .card-actions {
  display: flex;
  gap: var(--items-gap);
}

.card-actions button {
  background-color: transparent;
  border: none;
}

.card-actions button svg {
  pointer-events: none;
}

fieldset {
  display: flex;
  justify-content: space-between;
  gap: var(--items-gap);
  border-radius: var(--card-radious);
  border: 1px solid var(--border-color);
  padding: var(--btn-padding);
  padding-bottom: 12px;
}

fieldset legend {
  font-weight: 700;
}

@media (max-width: 750px) {
  fieldset {
    flex-direction: column;
  }

  fieldset .label-input-group {
    flex-direction: row;
    flex: 1;
    gap: var(--items-gap);
  }

  fieldset .label-input-group input {
    flex: 1;
  }

  fieldset .label-input-group label {
    flex-basis: 60px;
  }
}

@media (max-width: 550px) {
  fieldset .label-input-group {
    flex-direction: column;
    gap: 0;
  }

  fieldset .label-input-group input {
    flex: initial;
  }

  fieldset .label-input-group label {
    flex-basis: initial;
  }
}
